<!-- Cuestionario para crear nuevos comentarios -->
<%= form_for([@post, Comment.new]) do |f| %>
  <!-- Comentario -->
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, minlength: 2, maxlength: 300 %>
  </div>
  <!-- Boton crear commentario -->
  <div class="actions">
    <%= f.submit 'Create Comment' %>
  </div>
<% end %>
